footer {
  padding-top: var(--main-padding);
  background-color: var(--dark-mode-color);
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  position: relative;
}
footer .container::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: #b5b2b2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
footer .col {
  text-align: center;
}
footer .col h3 {
  margin: 0 0 10px;
}
footer .col ul li {
  margin-bottom: 15px;
}
footer .col ul li a:hover {
  color: var(--main-color);
}
footer .col.social-media ul li a i {
  margin-right: 10px;
}
footer .container + div {
  text-align: center;
  font-size: 1.2rem;
  margin: 15px 0;
}
footer .container + div i {
  color: var(--main-color);
  margin: 0 10px;
}
.heart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  color: var(--main-color);
  margin: 0 10px;
}
