/* Start Variables */
:root {
  --dark-mode-color: #0a092d;
  --main-color: #f78905;
  --main-dark-box-shadow: 0 2px 12px 0 #0b0955;
  --main-dark-bg-section: #071746;
  --main-text-color: #777;
  --main-padding: 80px;
  --main-transition: 0.3s;
  --main-heading-color: #182955;
  --main-bg-section: #ececec;
  --main-box-shadow: 0 2px 12px 0 #acacac;
}
/* End Variables */
/* Start Components */
.special-heading {
  width: fit-content;
  margin: auto;
  margin-bottom: 80px;
  border: 2px solid var(--main-color);
  padding: 15px;
  position: relative;
  z-index: 2;
  transition: var(--main-transition);
  text-transform: uppercase;
}
.special-heading::before,
.special-heading::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: var(--main-transition) 0.1s;
}
.special-heading::before {
  left: -30px;
}
.special-heading::after {
  right: -30px;
}
.special-heading:hover {
  color: white;
}
.special-heading:hover::before {
  animation: heading-animation-left var(--main-transition) forwards;
}
.special-heading:hover::after {
  animation: heading-animation-right var(--main-transition) forwards;
}
/* End Components */
/* Start Animation */
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-20px);
  }
}
@keyframes to-top {
  to {
    top: 70px;
  }
}
@keyframes heading-animation-right {
  20% {
    right: 0;
    height: 100%;
    border-radius: 0;
  }
  100% {
    right: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
}
@keyframes heading-animation-left {
  20% {
    left: 0;
    height: 100%;
    border-radius: 0;
  }
  100% {
    left: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
}
/* End Animation */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  transition: var(--main-transition);
  background-color: var(--dark-mode-color);
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
